@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

.font-heading {
  font-family: var(--font-syne);
}

.font-body {
  font-family: var(--font-inter);
}

html {
  scroll-behavior: smooth;
}

body {
  background:
    radial-gradient(circle at top left,#312e81 0%,transparent 40%),
    radial-gradient(circle at top right,#0f766e 0%,transparent 35%),
    radial-gradient(circle at bottom,#111827 30%,#020617 100%);
}

html,
body {
  transition: background-color 0.3s ease,
              color 0.3s ease;
}

/* Whole Website Scrollbar */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #050816;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    #06b6d4,
    #8b5cf6
  );
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    #22d3ee,
    #a855f7
  );
}

/* Hide Scrollbars */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}